@use '../../variables' as *;

.errorContainer {
  @include display-flex(column, flex-start, center);

  width: 100%;
  height: 100%;
  padding-top: 15%;
  box-sizing: border-box;

  .errorStatus {
    font-size: 10rem;
    font-weight: 600;
    line-height: 11rem;
  }

  .errorText {
    font-size: 3rem;
    font-weight: 500;
  }
}
