@use '../../variables' as *;
@use 'sass:color';

.imageContainer {
  margin: 0;
  margin-top: 2rem;

  img {
    width: 100%;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0.75rem;
  }

  .alignImageLeft {
    width: 40%;
    float: left;
    margin: 0 3% 3% 0;
  }

  .pngImage {
    padding: 1rem;

    // background-color: white;
    background-color: color.adjust($content-page-background-color, $lightness: 6%);
    box-sizing: border-box;
  }
}
