@use 'sass:color';

// colors
$accent-color: #458fd4;
$site-background-color: #6f7581;
$nav-background-color: #28292b;
$content-page-background-color: white;//#e9ebf0;
$side-nav-background-color: color.adjust($content-page-background-color, $lightness: -4%);//$site-background-color;
$shadow-color: #00000052;

// $active-nav-color: white;
// $active-side-nav-color: black;
$link-color: #1062c0;
$visited-link-color: rgb(140, 68, 158);
$active-link-color: rgb(228, 67, 67);

// mixins
@mixin card-background($pad: 2em) {
  background-color: color.adjust($site-background-color, $lightness: 30%);
  padding: $pad;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 8px rgba(75, 75, 75, 91.1%);
  box-sizing: border-box;
}

@mixin display-flex($direction, $justification: flex-start, $alignment: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
}
