// colors
$site-background-color: #bec1c7;
$nav-background-color: #293652;
$card-background-color: #fff;

// mixins
@mixin card-background {
  background-color: #eee;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 8px rgb(131 131 131 / 66.4%);
}
