@use 'variables' as *;
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s ease-in-out;

  &:hover {
    // transition: color 0s;
  }

  ::selection {
    background: color.adjust($accent-color, $lightness: 10%, $alpha: -0.6%);
  }
}

main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - $nav-height);
  background-color: var(--site-background-color);
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

$border-type-color: solid $content-border-color;

input[type='text'],
textarea {
  border: 0;
  border-bottom: 0.17em $border-type-color;
  border-radius: 0.25em;
  padding: 0.4em 0.6em;
  font-size: 1em;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;

  &:hover,
  &:focus {
    border-bottom: 3px solid color.adjust($accent-color, $alpha: -0.2%);
    outline: 0;
  }

  &:focus {
    appearance: none;
    box-shadow: 0 0 0 1px $content-border-color;
  }

  &::placeholder {
    opacity: 0.7;
  }
}

textarea {
  height: 6em;
}

button {
  padding: 0.75em 1.5em;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: $primary-button-color;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  font-size: 1em;
  font-weight: 600;
  color: white;

  &:hover {
    background-color: color.adjust($primary-button-color, $lightness: 6%);
  }

  &:active {
    background-color: color.adjust($primary-button-color, $lightness: -6%);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@media (max-width: 900px) {
  button {
    width: 100%;
    border-radius: 10em;
    font-size: 1.2rem;
  }
}
