{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "selector-class-pattern": "",
    "color-function-notation": "legacy",
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/double-slash-comment-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": null,
    "no-empty-source": null,
    "scss/comment-no-empty": null
  }
}