{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": "",
    "color-function-notation": "legacy",
    "scss/double-slash-comment-whitespace-inside": null
  }
}