@use '../../variables' as *;
@use 'sass:color';

.zoomIn {
  cursor: zoom-in;
}

.mediaContainer {
  // width: 50%;
  margin: 0;
  margin-top: 2rem;

  figure {
    margin: 0;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0.75rem;
  }

  img,
  video {
    width: 100%;
  }

  .pngImage {
    padding: 1rem;
    background-color: color.adjust($content-page-background-color, $lightness: 6%);
    box-sizing: border-box;
  }
}

@mixin align($alignment) {
  width: 40%;
  float: $alignment;
  margin: 0 3% 2% 0;
}

.alignLeft {
  @include align(left);
}

.alignRight {
  @include align(right);
}

.reduceWidth {
  width: 100%;
  text-align: center;

  img {
    width: 70%;
  }
}

.mediaGridContainer {
  width: 100%;
  display: grid;

  .mediaContainer {
    margin-top: 0;
  }

  figcaption {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
}
