@use '../../variables' as *;
@use 'sass:color';

.contentWrapper {
  @include display-flex(row, center, flex-start);

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 2vh 1rem 7rem;
  z-index: 0;
}

.contentContainer {
  width: 55rem;
  max-width: 60vw;
  font-size: 1.1rem;
  padding: 0 4%;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
  }

  h2 {
    margin-top: 3rem;
    scroll-margin-top: 5rem;
    // background-color: rgb(241, 241, 241);
    // padding: 0.25em;
    border-radius: 0.25em;
    // font-weight: 300;

    &:first-of-type {
      margin-top: initial;
    }
  }

  h3 {
    font-weight: 600;
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    letter-spacing: 0.05em;
    word-spacing: 0.075em;
    line-height: 1.7em;
    text-align: justify;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin: 2rem auto 2.5rem;
    text-decoration: none;
    color: $link-color;

    &:visited {
      color: $visited-link-color;
    }

    &:active {
      color: $active-link-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 900px) {
  .contentWrapper {
    padding: 0 5vw 5rem;
  }

  .contentContainer {
    width: 100%;
    max-width: inherit;
    font-size: 1.3rem;
    padding: 0;

    p {
      line-height: 1.5em;
      text-align: left;
    }
  }
}
