@use '../../variables' as *;
@use 'sass:color';

.contentWrapper {
  @include display-flex(row, center, flex-start);

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 2rem 0 5rem 1rem;
  z-index: 0;
}

.contentContainer {
  width: 45rem;
  max-width: 80%;
  font-size: 1.1rem;
  padding: 0 4%;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
  }

  h2 {
    margin-top: 3rem;
    scroll-margin-top: 3em;

    &:first-of-type {
      margin-top: initial;
    }
  }

  h3 {
    font-weight: 600;
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.45em;
  }

  a {
    display: block;
    width: max-content;
    text-align: center;
    font-weight: 700;
    margin: 2rem auto 2.5rem;
    text-decoration: none;
    color: $link-color;

    &:visited {
      color: $visited-link-color;
    }

    &:active {
      color: $active-link-color;
    }
  }
}
