@use '../../variables' as *;
@use 'sass:color';

@mixin align($alignment) {
  width: 40%;
  float: $alignment;
}

.floatLeft {
  @include align(left);

  margin-right: 1.1rem;
}

.floatRight {
  @include align(right);

  margin-left: 1.1rem;
}

.zoomIn {
  cursor: zoom-in;
}

.reduceWidth {
  width: 100%;
  text-align: center;

  img {
    width: 70%;
  }
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.25rem;
  padding: 0 0.5rem;
}

.mediaContainer {
  margin-top: 2rem;

  img,
  video {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .pngImage {
    padding: 1rem;
    background-color: color.adjust($site-background-color, $lightness: 6%);
    box-sizing: border-box;
  }
}

.mediaGridContainer {
  margin-top: 1.5rem;
}

.mediaGridComponents {
  @include display-flex(column);

  // display: grid;
  width: 100%;

  // flex-wrap: wrap;
  // flex-shrink: 0;

  .mediaGridRow {
    @include display-flex(row, flex-start, flex-start);

    width: 100%;
    height: min-content;
  }

  .mediaContainer {
    margin: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  figcaption {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
  }
}
