@use '../../variables' as *;
@use 'sass:color';

@mixin align($alignment) {
  width: 40%;
  float: $alignment;
}

.floatLeft {
  @include align(left);

  margin-right: 1.1rem;
}

.floatRight {
  @include align(right);

  margin-left: 1.1rem;
}

.zoomIn {
  cursor: zoom-in;
}

.reduceWidth {
  width: 100%;
  text-align: center;

  img {
    width: 70%;
  }
}

figure {
  margin: 0;
}

// figcaption {
//   text-align: center;
//   font-size: 1.2rem;
//   margin-top: 1.25rem;
//   padding: 0 0.5rem;
//   font-weight: 600;
//   color: rgb(63, 63, 63);
// }

figcaption {
  font-size: 0.95rem;
  margin: 0.5rem 0 0 0.1rem;
  font-style: italic;

  // text-align: center;
}

.mediaContainer {
  margin-top: 1.5rem;

  img,
  video {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .pngImage {
    padding: 1rem;
    background-color: color.adjust($site-background-color, $lightness: 6%);
    box-sizing: border-box;
  }
}

.mediaGridContainer {
  margin-top: 1.5rem;

  .gridCaption {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-style: normal;
    text-align: center;
    font-weight: 600;
  }
}

.mediaGridComponents {
  @include display-flex(column);

  width: 100%;

  .mediaGridRow {
    @include display-flex(row, flex-start, flex-start);

    width: 100%;
    height: min-content;
  }

  .mediaContainer {
    margin: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
