@use '../../variables' as *;

.contentPageWrapper {
  @include display-flex(row, inherit, flex-start);

  width: 100%;
  height: 100%;

  $side-menu-width: 15%;

  @mixin side-menu {
    position: sticky;
    top: $nav-height;
    height: calc(100vh - $nav-height);
  }

  .sideNavWrapper {
    @include side-menu;

    width: calc($side-menu-width + 1%);
  }

  .contentGeneratorWrapper {
    width: calc(100% - $side-menu-width * 2);
  }

  .tocWrapper {
    @include side-menu;

    width: calc($side-menu-width - 1%);
    right: 3vw;
  }
}

@media (max-width: 900px) {
  .contentPageWrapper {
    .sideNavWrapper,
    .tocWrapper {
      display: none;
    }

    .contentGeneratorWrapper {
      width: 100%;
    }
  }
}
