@use '../../variables' as *;
@use 'sass:color';

$nav-background-accent: color.adjust(
  $side-nav-background-color,
  $lightness: -6%
);

.sideNavContainer {
  height: 100%;
  width: 100%;
  min-width: 11.5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: $side-nav-background-color;
  z-index: 2;
  font-size: 1.1rem;
  border-right: $content-border;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .sideNavItem {
      margin: 0.5rem 0;
      font-weight: 600;
      word-wrap: break-word;
    }

    .sideNavLink {
      display: block;
      width: 100%;
      color: $nav-link-color;
      text-decoration: none;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      border-radius: 0.4rem;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: $nav-background-accent;
      }
    }

    .activeSideNavLink {
      color: $accent-color;
      background-color: $nav-background-accent;
    }
  }
}

.hideSideNav {
  visibility: hidden;
}
