@use '../../variables' as *;
@use 'sass:color';

.tableWrapper {
  width: 110%;
  height: 100%;
  margin-top: 3rem;

  .tableContainer {
    @include display-flex(column, flex-start, flex-start);

    border-left: $content-border;
    padding: 0.5em 1.25em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.75em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .TOCLink {
      color: color.adjust($nav-link-color, $lightness: 10%);
      text-decoration: none;
      line-height: 1.5em;

      &:hover {
        color: color.adjust($accent-color, $lightness: -10%);
      }
    }
  }
}

.hideTOC {
  visibility: hidden;
}

@media (max-width: 900px) {
  .tableWrapper {
    display: none;
  }
}
