@use '../../variables' as *;

$track-height: 22px;
$track-width: 45px;
$slider-margin: 3px;
$slider-width: calc($track-height - 2 * $slider-margin);

.track {
  position: relative;
  display: inline-block;
  width: $track-width;
  height: $track-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 100em;

    &::before {
      position: absolute;
      content: '';
      height: $slider-width;
      width: $slider-width;
      top: $slider-margin;
      left: $slider-margin;
      background-color: white;
      transition: 0.2s ease-in-out;
      border-radius: 100em;
    }
  }

  input:checked + .slider::before {
    transform: translateX($track-width - $slider-width - 2 * $slider-margin);
  }
}
