@use '../../variables' as *;

.homePageContainer {
  @include display-flex(row, center);

  width: 100%;
  height: calc(100vh - $nav-height);
  // padding: 3em auto;
  // background-color: $nav-background-color;

  .messageContainer {
    width: 40%;
    max-width: 25rem;
    margin-right: 1em;
    color: black;

    .title {
      font-size: 5em;
      font-weight: 600;
      // color: white;
    }

    .welcome {
      font-size: 3em;
      font-weight: 300;
      // color: white;
    }
  }

  .profileImg {
    height: 70vh;
  }
}
