@use '../../variables' as *;
@use 'sass:color';

.navbarContainer {
  @include display-flex(row);

  background-color: $nav-background-color;
  margin: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  border-bottom: 1px solid color.adjust($nav-background-color, $lightness: 20%);

  .navItem {
    color: white;
    text-decoration: none;
  }

  .logo {
    @include display-flex(row);

    margin-left: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    height: 55%;
    flex-shrink: 0;
  }

  .logoImg {
    height: 100%;
    border-radius: 8px;
    margin-right: 0.75rem;
  }

  .navLink {
    margin-right: 1.25rem;
  }

  .navArrow {
    margin-left: 0.25rem;
  }

  .activeNav {
    color: $accent-color;
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }

  ul {
    @include display-flex(row);

    list-style-type: none;
    margin: 0;
    margin-left: 2.5rem;
    padding: 0;
    height: 100%;
  }
}
