@use '../../variables' as *;
@use 'sass:color';

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .navLink {
    color: rgba(255, 255, 255, 60%);
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 0.9em 6vw;
  }

  .activeNavItem {
    color: $accent-color;
  }
}

.desktopNavContainer {
  @include display-flex(row);

  position: relative;
  background-color: $nav-background-color;
  margin: 0;
  padding: 0 2vw 0 3vw;
  width: 100%;
  height: $nav-height;
  box-sizing: border-box;
  border-bottom: 1px solid color.adjust($nav-background-color, $lightness: 4%);
  z-index: 99;

  .logoContainer {
    margin-right: 2.5vw;
  }

  .desktopNav {
    @include display-flex(row);

    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.1rem;

    .navLink:hover {
      color: $nav-hover-color;
    }

    .activeNavItem {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      color: $accent-color;
    }
  }

  .desktopNavItem {
    padding: 0.5em;
    margin-right: 1vw;
  }

  .mobileNavButtonContainer {
    display: none;
  }

  .menuIcon {
    width: 2rem;
    filter: invert(0.9);
    cursor: pointer;
  }
}

.mobileNavBackdrop {
  position: fixed;
  top: $nav-height;
  right: 0;
  width: 100%;
  height: calc(100vh - $nav-height);
  background-color: rgba(0, 0, 0, 80%);
  opacity: 0;
  transition: opacity 0.125s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.showBackdrop {
  opacity: 1;
  pointer-events: all;
}

.mobileNavContainer {
  @include display-flex(row, flex-end, flex-start);

  position: fixed;
  top: $nav-height;
  right: 0;
  width: 60%;
  max-width: 100vw;
  min-width: 15em;
  height: calc(100vh - $nav-height);
  background-color: $nav-background-color;
  padding: 0;
  transform: translateX(101%);
  transition: transform 0.15s ease-in-out;
  z-index: 3;
  overflow-y: auto;
  border-left: 1px solid color.adjust($nav-background-color, $lightness: 5%);

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 1.4rem;
    }
  }

  .mobileNav {
    overflow: hidden;

    .mobileNavItem {
      @include display-flex(column, flex-start, flex-start);

      transition: all 0.2s ease-in-out;
      overflow: hidden;
      border-bottom: 0 solid transparent;
    }

    .activeNavItem {
      font-weight: 600;
      background-color: color.adjust($nav-background-color, $lightness: 6%);
      border-bottom:
        1px solid
        color.adjust($nav-background-color, $lightness: 10%);
      border-top: 1px solid color.adjust($nav-background-color, $lightness: 10%);
    }

    .subMenuOpen {
      background-color: color.adjust($nav-background-color, $lightness: 6%);

      > a {
        border-bottom:
          1px solid
          color.adjust($nav-background-color, $lightness: 15%);
      }
    }

    .navLinkTextContainer {
      @include display-flex(row, space-between);

      width: 100%;
    }

    .expandIcon {
      width: 0.75em;
      filter: invert(1);
      transition: transform 0.2s ease-in-out;
    }

    .closeIcon {
      transform: rotateZ(180deg);
    }

    .subItemDropdown {
      height: 0;
      text-align: left;
      border-top: 0 solid transparent;
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      li {
        @include display-flex(column, center);
      }
    }

    .subItemLink {
      display: inline-block;
      width: 100%;
      color: rgba(255, 255, 255, 60%);
      text-decoration: none;
      padding: 0.5em 10vw;

      &:hover {
        color: $nav-hover-color;
        text-decoration: underline;
      }
    }

    .activeSubItem {
      color: $accent-color;
      font-weight: 700;
    }
  }
}

.showMobileContainer {
  transform: translateX(0);
}

@media (max-width: 900px) {
  body {
    overflow-x: scroll;
  }

  .desktopNavContainer {
    justify-content: space-between;

    .logoContainer {
      margin: 0;
    }

    .desktopNav {
      display: none;
    }

    .mobileNavButtonContainer {
      display: inherit;
    }
  }
}
