@use '../../variables' as *;

.navbar {
  @include display-flex(row);

  background-color: $nav-background-color;
  margin: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 6px $shadow-color;

  .logo {
    @include display-flex(row);

    margin-left: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    height: 55%;
  }

  .logoImg {
    height: 100%;
    border-radius: 8px;

    // margin-right: 0.75rem;
  }

  .navItem {
    color: white;
    text-decoration: none;
  }

  .navLink {
    margin-right: 1rem;
  }

  .navArrow {
    margin-left: 0.25rem;

    // font-size: 1.2rem;
  }

  .activeNav {
    color: $active-nav-color;

    // font-weight: 700;
    text-decoration: underline;

    // text-underline-position: under;
    text-underline-offset: 0.35em;
  }

  ul {
    @include display-flex(row);

    list-style-type: none;
    margin: 0;
    margin-left: 1.5rem;
    padding: 0;
    height: 100%;
  }
}
