@use '../../variables' as *;
@use 'sass:color';

.resumeContainer {
  @include display-flex(column, flex-start, flex-end);

  width: 100%;
  padding: 2em 0 1em;

  :global(.react-pdf__Document) {
    width: fit-content;
    max-width: 55rem;
    margin: 0 auto;
  }

  :global(.react-pdf__Page__canvas) {
    transition: filter $dark-switch-transition;

    [data-theme='dark'] & {
      filter: invert(100%) hue-rotate(180deg);
    }
  }

  hr {
    height: 1px;
    background-color: var(--content-border-color);
    border: 0;
  }

  .resumeLink {
    margin: 2rem auto 1em;
  }
}

@media (max-width: 900px) {
  .resumeContainer {
    padding-top: 1em;

    .resumeLink {
      width: 75%;
    }
  }
}
