@use '../../variables' as *;
@use 'sass:color';

$a4-ratio: 1.294;

.resumeContainer {
  @include display-flex(column, flex-start, flex-end);

  width: 100%;
  padding-bottom: 5rem;

  :global(.react-pdf__Document) {
    width: fit-content;
    margin: 0 auto;
  }

  $resume-width: 50rem;

  :global(.react-pdf__Page) {
    width: $resume-width;
    height: calc(($resume-width) * $a4-ratio);
  }

  :global(.react-pdf__Page__svg) {
    width: 100% !important;
    height: 100% !important;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  :global(.react-pdf__Page__textContent),
  :global(.react-pdf__Page__annotations) {
    display: none;
  }

  hr {
    height: 1px;
    background-color: $content-border-color;
    border: 0;
  }

  .resumeLink {
    margin: 2rem auto 0;
  }
}

@media (max-width: 900px) {
  .resumeContainer {
    padding-bottom: 10vw;

    $resume-width: 100vw;

    :global(.react-pdf__Page) {
      width: $resume-width;
      height: calc(($resume-width) * $a4-ratio);
    }

    .resumeLink {
      width: 75%;
    }
  }
}
