@use '../../variables' as *;

.contentWrapper {
  @include display-flex(row);

  height: 100%;

  .contentContainer {
    background-color: $site-background-color;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1rem;
    z-index: 2;
  }
}
