@use '../../variables' as *;

.contentWrapper {
  @include display-flex(row, flex-start);

  height: 100%;

  // background-color: red;
}

.sideNavContainer {
  height: 100%;
  width: 30%;
  max-width: 13rem;
  padding: 1rem;
  box-sizing: border-box;

  // background-color: white;
  border-right: 1px solid black;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.contentContainer {
  // background-color: blue;\
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
