@use '../../variables' as *;
@use 'sass:color';

.formContainer {
  @include display-flex(column, flex-start, flex-start);

  .formLabel {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: $label-color;
    word-spacing: 0;
  }

  .formInput {
    font-family: inherit;
    margin-bottom: 1.5rem;
    background-color: white;
  }

  .captchaContainer {
    // @include display-flex(column, center);

    // width: 100%;
    margin-bottom: 1.5rem;

    // :global(#rc-anchor-container) {
    //   background-color: red;
    //   width: 3rem !important;
    // }
  }

  .buttonContainer {
    // @include display-flex(column, row);

    // width: min-content;
    // align-self: center;

    .formSubmit {
      justify-self: flex-end;
      color: white;
      font-size: 0.95rem;
      // width: 50%;//calc(100% - 3rem);
    }
  }
}
