@use '../../variables' as *;
@use 'sass:color';

.guestbookListContainer {
  @include display-flex(column, flex-start, flex-start);

  width: 100%;

  h1 {
    margin-top: 0.6rem;
    font-size: 2.5rem;
  }

  .emptyMessage {
    font-style: italic;
  }

  .entryListContainer {
    @include display-flex(column, flex-start, flex-start);

    width: 100%;
    // display: grid;
    // grid-template-columns: calc((100% - 2rem) / 2) calc((100% - 2rem) / 2);
    // gap: 2rem;
    // box-sizing: border-box;

    // &:hover {
    //   transform: scale(1.01);
    // }
  }

  .entryContainer {
    @include display-flex(row, flex-start, flex-start);

    flex-wrap: wrap;
    // width: max-content;
    // max-width: 20rem;
    // background-color: red;
    width: 100%;
    margin-bottom: 2rem;
    // padding: 1rem 1.5rem 1.5rem;
    // background-color: color.adjust($site-background-color, $lightness: -5%);
    // border-radius: 0.25em;
    // outline: $content-border;

    .name {
      // width: 50%;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .date {
      // width: 50%;
      margin-left: 1rem;
      margin-top: 0.25rem;
      text-align: end;
    }

    .background {
      width: 100%;
      margin-top: 1rem;
      // color: grey;
    }

    .message {
      width: 100%;
      margin-top: 1rem;
    }

    hr {
      width: 60%;
      height: 2px;
      background-color: red;
    }
  }
}
