@use '../../variables' as *;

@mixin container {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.guestbookPageContainer {
  @include display-flex(row, flex-start, flex-start);

  width: 100%;
  height: 100%;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  $space-between: 6%;

  .formContainer {
    @include container;

    position: sticky;
    top: $nav-height;
    height: calc(100vh - $nav-height);
    width: 35%;
    min-width: 25rem;
    padding: 3vh 4rem;
    border-right: $content-border;
    background-color: $side-nav-background-color;
  }

  .listContainer {
    @include container;

    width: 65%;
    padding: 3vh 7% 5rem;
  }
}
